@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url(https://fonts.googleapis.com/css?family=Bitter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@font-face {
	font-family: "Depravo Stencil";
	src: url(../fonts/DepravoStencil-Regular.woff2) format("woff2"),
		url(../fonts/DepravoStencil-Regular.woff) format("woff");
	font-weight: 400;
	font-size: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url(../fonts/CircularStd-Black.woff2) format("woff2"), url(../fonts/CircularStd-Black.woff) format("woff");
	font-weight: 900;
	font-size: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url(../fonts/CircularStd-Bold.woff2) format("woff2"), url(../fonts/CircularStd-Bold.woff) format("woff");
	font-weight: 700;
	font-size: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url(../fonts/CircularStd-Book.woff2) format("woff2"), url(../fonts/CircularStd-Book.woff) format("woff");
	font-weight: 400;
	font-size: normal;
	font-display: swap;
}
@font-face {
	font-family: "CircularStd";
	src: url(../fonts/CircularStd-Medium.woff2) format("woff2"), url(../fonts/CircularStd-Medium.woff) format("woff");
	font-weight: 500;
	font-size: normal;
	font-display: swap;
}

header {
	font-family: "Playfair Display", serif;
	font-size: 40px;
}
body {
	font-family: "Bitter", serif;
	font-size: 20px;
	text-align: center;
	line-height: 1.4;
}

.p1 {
	text-align: left;
}
.p2 {
	text-align: center;
}
.p3 {
	text-align: right;
}
.p1,
.p2,
.p3 {
	letter-spacing: 10px;
}
.p4 {
	text-decoration: overline;
}
.p5 {
	text-decoration: line-through;
}
.p6 {
	text-decoration: underline;
}
.p4,
.p5,
.p6 {
	text-transform: uppercase;
}
.p7 {
	text-decoration: overline;
}
.p8 {
	text-decoration: line-through;
}
.p9 {
	text-decoration: underline;
}
.p7,
.p8,
.p9 {
	text-transform: lowercase;
}
.p10 {
	text-decoration: overline;
}
.p11 {
	text-decoration: line-through;
}
.p12 {
	text-decoration: underline;
}
.p10,
.p11,
.p12 {
	text-transform: capitalize;
}
.p13 {
	font-size: 70px;
	text-decoration: underline;
}
.p14 {
	font-family: "Pacifico", cursive;
	font-size: 50px;
	font-weight: 900;
	color: rgb(233, 49, 49);
	text-shadow: -20px 20px 10px rgb(109, 63, 10), 15px -15px 10px rgb(16, 83, 109);
}
.p15 {
	line-height: 0.6;
}
.p16 {
	text-align: left;
	text-indent: 50px;
}
.p17 {
	letter-spacing: 20px;
}
.p18 {
	word-spacing: 500px;
}
.p19 {
	color: red;
}
.p20 {
	color: orange;
}
.p21 {
	color: yellow;
	text-shadow: 2px 2px 5px grey;
}
.p22 {
	color: green;
}
.p23 {
	color: rgb(0, 225, 255);
}
.p24 {
	color: blue;
}
.p25 {
	color: purple;
}
.p26 {
	font-weight: 100;
}
.p27 {
	font-weight: 100;
	font-style: italic;
}
.p28 {
	font-weight: 200;
}
.p29 {
	font-weight: 200;
	font-style: italic;
}
.p30 {
	font-weight: 300;
}
.p31 {
	font-weight: 300;
	font-style: italic;
}
.p32 {
	font-weight: 400;
}
.p33 {
	font-weight: 400;
	font-style: italic;
}
.p34 {
	font-weight: 500;
}
.p35 {
	font-weight: 500;
	font-style: italic;
}
.p36 {
	font-weight: 600;
}
.p37 {
	font-weight: 600;
	font-style: italic;
}
.p38 {
	font-weight: 700;
}
.p39 {
	font-weight: 700;
	font-style: italic;
}
.p40 {
	font-weight: 800;
}
.p41 {
	font-weight: 800;
	font-style: italic;
}
.p42 {
	font-weight: 900;
}
.p43 {
	font-weight: 900;
	font-style: italic;
}
.p44 {
	font-family: "Depravo Stencil";
	font-weight: 400;
}
.p45 {
	font-family: "CircularStd";
	font-weight: 900;
}
.p46 {
	font-family: "CircularStd";
	font-weight: 700;
}
.p47 {
	font-family: "CircularStd";
	font-weight: 500;
}
.p48 {
	font-family: "CircularStd";
	font-weight: 400;
}
footer {
	font-family: "Pacifico", cursive;
	font-size: 20px;
	font-weight: 400;
	text-decoration: underline;
	color: rgb(49, 61, 233);
	text-shadow: -20px 15px 5px rgb(109, 63, 10);
}