@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

header {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	align-items: center;
	color: #1e212c;
}

body {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}

.highlighted-paragraph-1 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
}
.highlighted-paragraph-2 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
}
